<table mat-table class="mat-elevation-z8" *ngIf="persons != undefined" [dataSource]="persons!">
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let person">
            <app-editable-field [(value)]="person.firstName" [editMode]="person.$$isInEditMode"></app-editable-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let person">
            <app-editable-field [(value)]="person.lastName" [editMode]="person.$$isInEditMode"></app-editable-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
        <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
        <td mat-cell *matCellDef="let person">
            <app-editable-date-field [(value)]="person.dateOfBirth" [editMode]="person.$$isInEditMode"></app-editable-date-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Department </th>
        <td mat-cell *matCellDef="let person">
            <div *ngIf="!person.$$isInEditMode"> {{person.department.name }} </div>

            <mat-form-field *ngIf="person.$$isInEditMode">
                <mat-select [(ngModel)]="person.department">
                    <mat-option *ngFor="let department of departments" [value]="department">{{ department.name
                        }}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let person">
            <a *ngIf="!person.$$isInEditMode" (click)="person.$$isInEditMode = true" href="#"><mat-icon
                    fontIcon="edit"></mat-icon></a>
            <a *ngIf="person.$$isInEditMode" (click)="save(person)" href="#"><mat-icon fontIcon="save"></mat-icon></a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>